@font-face {
	font-family: 'Old London';
	src: url('../fonts/OldLondon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

#kaamelott {
    text-align:center;
	-webkit-transition:margin-left 0.2s;
	-moz-transition:margin-left 0.2s;
	-ms-transition:margin-left 0.2s;
	-o-transition:margin-left 0.2s;
	transition:margin-left 0.2s;
}

#kaamelott .page {
    background-color: #EEDBB4;
    background-image: url('../assets/images/old_page_texture.jpg');
    box-shadow: inset 0 0 40px rgba(205,172,132,.6);

    display: flex;
    align-items: center;
    justify-content: center;
}

#kaamelott .page .content {
    padding: 30px;
    font-family: 'Old London';
    font-size: 1.8em;
    text-align: justify;
    line-height: 120%;
}

#kaamelott .page-wrapper {
	-webkit-perspective:2000px;
	-moz-perspective:2000px;
	-ms-perspective:2000px;
	-o-perspective:2000px;
	perspective:2000px;
}

#kaamelott .hard {
	/*background:#ccc !important;*/
    background-image: url('../assets/images/old_book_texture.jpg');
    background-size: cover;
	color: #fff;
    font-family: 'Old London';
    font-size: 3.2em;
    text-shadow: 2px 2px #000;
	-webkit-box-shadow:inset 0 0 5px #666;
	-moz-box-shadow:inset 0 0 5px #666;
	-o-box-shadow:inset 0 0 5px #666;
	-ms-box-shadow:inset 0 0 5px #666;
	box-shadow:inset 0 0 5px #666;
	font-weight:bold;
}

#kaamelott .hard .carved {
	position: absolute;
	font-family: Impact;
	font-size: 0.3em;
   	color: #000;
   	text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}

#kaamelott .odd{
	/*background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
	background-image:-webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
	background-image:-moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
	background-image:-ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
	background-image:-o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
	background-image:linear-gradient(right, #FFF 95%, #C4C4C4 100%);
	-webkit-box-shadow:inset 0 0 5px #666;
	-moz-box-shadow:inset 0 0 5px #666;
	-o-box-shadow:inset 0 0 5px #666;
	-ms-box-shadow:inset 0 0 5px #666;
	box-shadow:inset 0 0 5px #666;*/

}

#kaamelott .even{
	/*background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
	background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
	background-image:linear-gradient(left, #fff 95%, #dadada 100%);
	-webkit-box-shadow:inset 0 0 5px #666;
	-moz-box-shadow:inset 0 0 5px #666;
	-o-box-shadow:inset 0 0 5px #666;
	-ms-box-shadow:inset 0 0 5px #666;
	box-shadow:inset 0 0 5px #666;*/
}

#plaque, #eyes {
    position: absolute;
    left: 40%;
    top: 33%;
    width: 20%;
    height: 10%;
}

#plaque { z-index: 1; background-color: #353C47; }

#eyes {
    z-index: 0;
    background-image: url('../assets/images/yeux.jpg');
    background-size: 100% 90%;
}

#porte {
	position:relative;
	z-index:2
}

#porte:hover {
    cursor: move;
}

.menu {
	position: absolute !important;
    margin: 10px;
    left: 0;
    top : 0;
}

.menu-tooltip:hover {
	cursor: pointer;
}

.menu .indices {
	display: none;
	margin-top: 5px;
	width: 220px;
	font-family: Impact;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 3px;
}

.menu .indices ul {
	padding: 0;
    list-style-type: none;
}

.menu .indices ul li {
	padding: 10px;
}

.menu .indices ul li:not(:first-child) {
	border-top: 1px solid #fff;
}

.menu .indices ul li a {
	color: inherit;
	text-decoration: none;
}

.avatar-container {
	display: none;
    padding: 5px;
    overflow: hidden;
    border-radius: 50%;
}

.avatar-container.filled {
	display: block;
    background-color: rgba(0, 0, 0, 0.8);
}

.avatar-wrapper {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
	background-size: 100% 100%;
	background-image: url('../assets/images/avatar-default.png');
}

.avatar-wrapper #avatar {
    margin-left: -20px;
}

canvas.calque {
    position: absolute;
    top: 4%;
	/*top: 60px;*/
    left: 0;
}

#video-container button {
	border: rgba(0, 0, 0, 0.7);
	outline: 0;
	margin: 0 2px 0 2px;
	padding: 10px;
	color: #fff;
	background-color: #4769A8;
}

#video-container button:hover {
	cursor: pointer;
	background-color: #5881CF;
}

#carte_paths path {
	stroke-width: 2px;
}

#carte_paths path.wrong.selected {
	stroke: red;
}

#carte_paths path.right.selected {
	stroke: #4AFF13;
}

#carte_paths path:hover {
	cursor: pointer;
	filter: url(#drop-shadow);
}

.microphone {
	position:absolute;
	left: 42%;
	bottom: 20px;
	width:16%;
	height: 66px;
}

.microphone img {
	width: 100%;
	height: auto;
	border-radius: 50%;
	box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.microphone img:hover {
	cursor: pointer;
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

img.key {
	position: absolute;
	width: 25px;
	transform:rotate(20deg);
}

img.key:hover {
	cursor: pointer;
	box-shadow: 0 0 32px rgba(255, 255, 255, 0.8);
}

img.goblin-eyes {
	position: absolute;
	display: none;
}

#elements {
	position: absolute;
	left: 15%;
	width: 70%;
	height: 100px;
	bottom: 8%;
}

.element {
	display: inline-block;
	margin: 10px;
	width: 50px;
	height: 50px;
	padding: 5px;
	box-sizing: border-box;
	background-color: #fff;
	overflow: hidden;
	border-radius: 50%;
}

.element:hover {
	cursor: pointer;
}

.element.water:hover {
	box-shadow: 0 0 60px rgba(0, 0, 255, 0.8);
}

.element.fire:hover {
	box-shadow: 0 0 60px rgba(255, 0, 0, 0.8);
}

.element.thunder:hover {
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.8);
}

.element.rock:hover {
	box-shadow: 0 0 60px rgba(0, 255, 0, 0.8);
}

.element img {
	width: 100%;
	height: auto;
}

#fire-burning {
	position:absolute;
	background-image: url('../assets/images/fire-burning.gif');
	background-size: 100% 100%;
	bottom: 35%;
	right: 10%;
	width: 60%;
	height: 200px;
	border-radius: 30%;
	display: none;
}

#lyrics {
	position: absolute;
	left: 20%;
	width: 60%;
	bottom: 25%;
	transform: rotateX(30deg);
	letter-spacing: 4px;
	line-height: 20px;
	font-family: 'Old London';
	color: #867518;
	text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}

img.fleche {
	position: absolute;
	width: 100px;
	height: 20px;
}

img.fleche:not(.reverse) {
	left: -200px;
}

img.fleche.reverse {
	transform: rotateY(180deg);
	right: -200px;
}

img#safe {
	position: absolute;
	z-index: 2;
	left: 25%;
	width: 50%;
	height: auto;
	bottom: 30px;
}

img#graal-safe {
	position: absolute;
	z-index: 3;
	left: 40%;
	width: auto;
	height: 60px;
	bottom: 95px;
}

#remerciements {
	position: absolute;
	top: 20px;
	left: 10%;
	width: 80%;
	font-family: 'Old London';
	font-size: 1.8em;
	color: #fff;
	height: 50px;
	line-height: 40px;
	border-radius: 5px;
}